/Users/gerardo/Desktop/jqm/css
/Users/gerardo/Desktop/jqm/images
/Users/gerardo/Desktop/jqm/jm
/Users/gerardo/Desktop/jqm/jquery-1.10.2.min.js
/Users/gerardo/Desktop/jqm/js
/Users/gerardo/Desktop/jqm/pagina1.html
/Users/gerardo/Desktop/jqm/pagina2.html